<html>
<body>
<h3>您好 $!{userName}, 订阅分发系统已经为您创建订阅账号</h3>
<div>
            订阅状态分发系统的地址为：http://127.0.0.1:8080/SDI</a>.
            您的订阅账号为：${userName}  密码：${passWord} 请注意保存，防止丢失!</a>.
  	本条信息是系统自动发送，请勿回复！
</div>
</body>
</html>